.center-both-ways {
  justify-content: center;
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.align-vertically {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.justify-content-center {
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.float-left {
  float: left;
}
