.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-20 {
  gap: 20px;
}

.gap-15 {
  gap: 15px;
}

.gap-10 {
  gap: 10px;
}

.gap-40 {
  gap: 40px;
}
