.flex-container {
  display: flex;
}

.fixed {
  position: fixed;
}

.inline-block {
  display: inline-block;
}

.absolute-position {
  position: absolute;
}

.relative-position {
  position: relative;
}

.hidden {
  display: none;
}

.z-index-1 {
  z-index: 1;
}

.overflow-hidden {
  overflow: hidden; 
}

.z-index-2 {
  z-index: 2;
}

.z-index-5 {
  z-index: 5;
}